.footer {
  display: flex;
  gap: 429px;
  background: var(--services-bg);
  justify-content: center;
  padding: 53px 20px 53px 20px;

  @include desktop-small {
    gap: 0;
    justify-content: space-between;
  }

  @include tablet {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
    padding: 20px 0px 12px 0px;
  }

  @include mobile {
    gap: 8px;
    padding: 10px 0px 5px 0px;
  }

  &__copyright {
    color: var(--c-text-white);
    font-size: 16rem;
    font-weight: 400;

    span {
      &._text {
        color: var(--c-primary);
        font-size: 16rem;
        font-weight: 400;
      }
    }
  }

  &__nav {
    @include tablet {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__ul {
    display: flex;
    gap: 34rem;
  }

  &__li {
    padding: 0;
  }

  &__a {
    color: #fff;
    font-size: 16rem;
    font-weight: 400;
    transition: var(--transition);

    &:hover {
      color: var(--c-primary);
    }
  }
}
